#!/bin/sh

# Установка powerlevel10k (если нет)
if [ ! -d "$HOME/.oh-my-zsh/custom/themes/powerlevel10k" ]; then
  git clone --depth=1 https://github.com/romkatv/powerlevel10k.git \
    "$HOME/.oh-my-zsh/custom/themes/powerlevel10k"
fi

# Установка tpm (если нет)
if [ ! -d "$HOME/.tmux/plugins/tpm" ]; then
  git clone https://github.com/tmux-plugins/tpm "$HOME/.tmux/plugins/tpm"
fi

# Установка tmux-плагинов (можно только если tmux уже запущен)
if command -v tmux >/dev/null; then
  "$HOME/.tmux/plugins/tpm/bin/install_plugins" || true
fi

