#!/bin/sh

# Проверяем, установлен ли fzf
if [ ! -d "$HOME/.fzf" ]; then
  echo "Installing fzf from GitHub..."
  git clone --depth 1 https://github.com/junegunn/fzf.git ~/.fzf
  yes | ~/.fzf/install --key-bindings --completion --no-update-rc
fi
